apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-config
  namespace: monitoring
stringData:
  alertmanager.yaml: |
    global:
      resolve_timeout: 5m

    route:
      group_by: ['alertname']
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 3h
      receiver: 'team-email'

    receivers:
      - name: 'team-email'
        email_configs:
          - to: 'oncall@techcommerce.example'
            send_resolved: true
